$pageBg: #f1f4f6;
$contentBg: #fafbfc;

$headerH: 3.5rem;
$headerBg: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

$sidebarBg: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
$sidebarHeaderBg: #5a5a84;

$sectionHeaderBg: #f8f9fa;

// Colors
$whiteActive: #ffffff;
$whiteInactive: #ffffffaa;
$primary: #406bd6;  // HSV: S = 70, V = 84; H never changes
$primaryHover: #3a61c2; // HSV: V = 76
$primaryInactive: #abb7d6;  // HSV: S = 20
$danger: #d64040;
$dangerHover: #c23a3a;
$dangerInactive: #d6abab;
$success: #40d640;
$successHover: #3ac23a;
$successInactive: #abd6ab;

// box-shadow
$elevation: 0 .1rem 1rem #00000044;
$slightElevation: 0 .1rem .25rem #00000044;

// Form Inputs
$inputPlaceholder: #00000099;