.form {
    table {
        width: 100%;

        td {
            vertical-align: top;

            .checkbox, .switch {
                margin-bottom: 0;
            }
        }

        tr td {
            &:first-of-type {
                white-space: nowrap;
                padding-right: 1rem;
                font-weight: 600;
            }

            &:last-of-type {
                width: 100%;
                white-space: nowrap;
            }
        }
    }

    .message {
        text-align: center;
        padding: 1rem;
        padding-top: 0;

        &.danger {
            color: $danger;
        }

        &.success {
            color: $success;
        }
    }
}

.form-group {
    width: 100%;

    &.inline, .inline {
        display: inline-block;
    }

    label {
        display: block;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .form-element {
        width: 100%;
        border: none;
        outline: none;
        background-color: #eee;
        padding: .5rem;
        box-shadow: none;
        border-radius: .25rem;

        box-shadow: 0 0 2px #dadada inset;
    }

    .form-element::placeholder { color: $inputPlaceholder; }
    .form-element:-ms-input-placeholder { color: $inputPlaceholder; }
    .form-element::-ms-input-placeholder { color: $inputPlaceholder; }
    .placeholder {
        color: $inputPlaceholder;
        opacity: .6;
    }

    .form-element:focus {
        box-shadow: 0 0 2px $primary inset;
    }

    .hint {
        font-style: italic;

        &.danger {
            color: $danger;
        }
    }

    .checkbox {
        display: inline-block;
        position: relative;
        padding-left: 1.75rem;
        @include noselect;
        cursor: pointer;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.25rem;
            width: 1.25rem;
            background-color: #eee;
            border: 1px solid #ddd;
            border-radius: .25rem;
            transition: background-color .1s ease;

            &:after {
                content: "";
                position: absolute;
                display: none;

                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        input:checked ~ .checkmark {
            background-color: $primary;
            border: none;

            &:after {
                display: block;
            }
        }

        &:after {
            content: " ";
            white-space: pre;
        }

        &.disabled {
            font-weight: 400;

            input:checked ~ .checkmark {
                background-color: $primaryInactive;
            }
        }
    }

    .switch {
        display: inline-block;
        position: relative;
        width: 2.75rem;
        height: 1.5rem;
        @include noselect;
        cursor: pointer;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .slider {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #eee;
            border: 1px solid #ddd;
            border-radius: 100rem;
            transition: all .4s ease;

            &:before {
                content: "";
                position: absolute;
                height: 1.1rem;
                width: 1.1rem;
                left: 2px;
                top: 2px;
                background-color: white;
                border-radius: 50%;
                transition: all .4s ease;
            }
        }

        input:checked ~ .slider {
            background-color: $primary;
            border: 1px solid $primaryHover;

            &:before {
                transform: translateX(1.25rem);
            }
        }

        &.disabled {
            font-weight: 400;

            input:checked ~ .slider {
                background-color: $primaryInactive;
            }
        }
    }
}

.form-tabs {
    display: flex;
    margin-bottom: 1rem;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #eee;
    }

    .form-tab {
        cursor: pointer;
        padding: .5rem;
        border-bottom: 2px solid #eee;
        z-index: 1;

        &:hover {
            border-bottom: 2px solid $primaryHover;
        }
        
        &.active {
            border-bottom: 2px solid $primary;
        }
    }
}

.select {
    position: relative;

    .select-input {
        position: relative;

        .placeholder, .value {
            @include noselect;
        }

        .select-arrow {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            padding: 0 .7rem;
            border-radius: 0 .25rem .25rem 0;
            cursor: pointer;

            display: flex;
            align-items: center;

            background-color: $primary;
            color: $whiteActive;

            &:hover, &.open {
                background-color: $primaryHover;
            }

            &.disabled {
                background-color: $primaryInactive;
            }
        }

        input {
            padding-right: 3rem;
        }
    }

    .select-dropdown {
        position: absolute;
        width: 100%;
        background-color: $whiteActive;
        box-shadow: $slightElevation;
        max-height: 13rem;
        overflow-y: auto;
        z-index: 1;

        ul {
            list-style: none;

            li {
                padding: .75rem .75rem;
                cursor: pointer;

                &:hover {
                    background-color: $primaryInactive;
                }
            }
        }
    }

    .select-selected-items {
        display: flex;

        .select-seleced-item {
            display: flex;
            align-items: center;
            background-color: $successInactive;
            margin: .25rem;
            padding: .25rem 0;
            padding: 0 .5rem;
            border-radius: .5rem;

            .text {
                @include noselect;
            }

            .remove {
                cursor: pointer;
                margin-left: .2rem;
            }
        }
    }
}