.pages-modules {
    .module {
        display: flex;
        margin-bottom: .5rem;
        padding-bottom: .5rem;
        border-bottom: 1px solid #eee;

        &:last-of-type {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        .name {
            font-weight: bold;
        }
    }
}