/* Flex */
.flex { display: flex; }
.flex-column { flex-direction: column; }
.flex-1 { flex: 1; }
.flex-justify-center { justify-content: center; }
.flex-align-center { align-items: center; }
.flex-wrap { flex-wrap: wrap; }

/* Paddings */
.pt-05 { padding-top: .5rem; }
.pb-1 { padding-bottom: 1rem; }
.px-1 { padding-left: 1rem; padding-right: 1rem; }

/* Margins */
.mr-1 { margin-right: 1rem; }
.mb-1 { margin-bottom: 1rem; }

/* Animations */
@keyframes spin-ease {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-ease {
    animation: spin-ease 1s ease infinite;
}

/* Typography */
.text-bold { font-weight: 700; }

.text-danger { color: $danger; }

.text-center { text-align: center; }

/* Visibility */
.hidden { display: none; }