.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-justify-center { justify-content: center; }
.flex-align-center { align-items: center; }

.pb-1 { padding-bottom: 1rem; }

.mr-1 { margin-right: 1rem; }

@keyframes spin-ease {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin-ease {
    animation: spin-ease 1s ease infinite;
}