@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese);* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}

html,
body {
  min-height: 100vh;
  height: 100%;
}

body {
  background: #f1f4f6;
  color: #444054;
}

.container {
  display: -webkit-box;
  display: flex;
  height: 100%;
}

.container .main {
  width: 100%;
}

.container .main > .header {
  height: 4rem;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 2rem;
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  color: #ffffffaa;
}

.container .main .content > .section-header {
  background: -webkit-gradient(linear, left bottom, left top, from(#cfd9df), to(#e2ebf0));
  background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  padding: 1rem;
}

.container .main .content > .section-header .title {
  font-size: 1.25rem;
}

.container .main .content > .section-body {
  padding: 0 1rem;
  padding-top: 1rem;
}

.sidebar {
  background: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.sidebar > .header {
  height: 4rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  background: #5a5a84;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5rem;
  box-shadow: 0 0 1rem #000000;
  margin-bottom: 1rem;
}

.sidebar .main {
  padding: 0 1rem;
  color: #ffffffaa;
}

