.card {
    padding: 1rem;
    border-radius: .5rem;
    background: $contentBg;
    box-shadow: $elevation;

    .title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    &.auth {
        min-width: 30rem;
        max-width: 90%;
    }

    a {
        color: $primary;
        text-decoration: none;
        outline: none;

        &:hover {
            color: $primaryHover;
        }
    }
}

.btn {
    background: none;
    border: none;
    outline: none !important;
    box-shadow: $slightElevation;

    cursor: pointer;
    padding: .5rem 1rem;
    font-size: .8rem;
    font-weight: 600;
    background-color: $primary;
    color: $whiteActive;
    border-radius: .25rem;

    &::-moz-focus-inner { border:none; }

    transition: all .3s ease;

    &:hover {
        box-shadow: $elevation;
        background-color: $primaryHover;
    }

    &[disabled] {
        color: $whiteInactive;
        background-color: $primaryInactive;
        box-shadow: 0 0 0;
        cursor: default;
    }
}

.table {
    width: 100%;
    box-shadow: $slightElevation;
    border-collapse: collapse;
    font-size: .95rem;

    th, td {
        padding: .5rem;
        border-right: 1px solid #ddd;

        &:last-of-type {
            border-right: none;
        }
    }

    th {
        border-bottom: 1px solid #ddd;
    }

    tr {
        &:nth-of-type(even) {
            background: #00000009;
        }

        &:hover {
            background: rgba($primary, .25);
        }
    }
}