.form-group {
    padding-bottom: 1rem;

    label {
        display: block;
        font-weight: 600;
        margin-bottom: .5rem;
    }

    .form-element {
        width: 100%;
        border: none;
        outline: none;
        background: #00000007;
        padding: .5rem;
        box-shadow: none;
        border-radius: .25rem;

        box-shadow: 0 0 2px #00000022 inset;
    }

    .form-element:focus {
        box-shadow: 0 0 2px #2d5776 inset;
    }

    .hint {
        font-style: italic;

        &.danger {
            color: $danger;
        }
    }

    .checkbox {
        display: inline-block;
        position: relative;
        padding-left: 1.75rem;
        user-select: none;
        cursor: pointer;

         input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 1.25rem;
            width: 1.25rem;
            background-color: #eee;
            border-radius: .25rem;

            &:after {
                content: "";
                position: absolute;
                display: none;

                left: 6px;
                top: 2px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }

        input:checked ~ .checkmark {
            background-color: $primary;

            &:after {
                display: block;
            }
        }
    }
}
