html {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    background: $pageBg;
    color: #444054;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
}

.container .sidebar {
    min-width: 15rem;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow-y: auto;
    background: $sidebarBg;

    >.header {
        height: $headerH;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $sidebarHeaderBg;
        color: $whiteActive;
        font-weight: 600;
        font-size: 1.5rem;
        box-shadow: 0 0 1rem -.5rem #000000;
        margin-bottom: 1rem;

        a {
            color: $whiteActive;
            text-decoration: none;
        }
    }

    >.main {
        padding: 0 1rem;
        color: $whiteInactive;

        ul {
            list-style: none;
            padding: 0;
        }

        .category {
            text-transform: uppercase;
            font-weight: 600;
            font-size: .9rem;
            margin: 1rem 0;
        }

        .group li a, .items li a {
            display: inline-block;
            width: 100%;
            padding: .5rem 1rem;
            color: $whiteInactive;
            text-decoration: none;
            outline: none;
            transition: all .2s ease;

            &:hover {
                color: $whiteActive;
                background: #ffffff44;
                border-radius: .25rem;
            }
        }

        .group .group {
            padding-left: 1.75rem;

            li {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    left: -.5rem;
                    width: 2px;
                    height: 100%;
                    background: #ffffff44;
                }
            }
        }
    }
}

.container >.main {
    flex: 1;
    
    display: flex;
    flex-direction: column;

    >.header {
        height: $headerH;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 2rem;
        background: $headerBg;
        color: $whiteInactive;

        box-shadow: 0 .5rem 1rem -1rem #000000;
        z-index: 1;

        .left {
            flex: 1;
        }

        a {
            color: $whiteInactive;
            text-decoration: none;
            outline: none;

            &:hover {
                color: $whiteActive;
            }
        }
    }

    >.content {
        flex: 1;

        >.section-header {
            background: $sectionHeaderBg;
            padding: 1.25rem 1rem;

            .title {
                font-size: 1.25rem;
            }
        }

        >.section-body {
            padding: 0 1rem;
            padding-top: 1rem;
        }

        &.center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}